@import "base";

* {
  box-sizing: border-box;
}

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.15;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

a {
  &:link,
  &:visited,
  &:active {
    color: $color-link;
    text-decoration: none;
  }
  &:hover {
    color: adjust-lightness($color-link, -10);
    text-decoration: none;
    border-bottom: 1px dotted $color-link;
  }
}

#masthead {
  background-color: #343a40;
  color: #eee;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;

  ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0.7em;
    text-align: right;

    li {
      display: inline-block;
      padding: 0 0.5em;

      a {
        color: #eee;
        &.important {
          border: 1px solid $color-link;
          padding: 0 0.5em;
          &:hover {
            color: #333;
            background-color: $color-link;

          }
        }
      }
    }
  }
}

#header {
  position: relative;
  background-color: $color-link;
  margin-bottom: 1em;
  #ribbon {
    position: absolute;
    top: -5px;
    left: 0;
  }
  #header-branding {
    display: flex;
    align-items: center;
    padding: 31px 0;
  }
  #logo {
    display: block;
    border: 0;
    margin: 0 15px;
    img {
      border: 0;
    }
    &:hover {
      border-bottom: none;
    }
  }
}

#main {
  margin: 0 20px;
}

#description {
  @include adjust-font-size-to( 12px );
}

#footer {
  border-top: 1px dotted $color-grey;
  @include adjust-font-size-to( 12px );
}

h1 {
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  line-height: normal;
  margin: 0;
}

table#example {
  @include adjust-font-size-to(12px);
  margin-bottom: $h1-font-size;
  thead {
    th {
      border-bottom: none;
      text-align: left;
    }
  }
  tbody tr:hover {
    background-color: #F2E6B9;
    td {
      background-color: #F2E6B9 !important;
    }
  }
  tr.odd {
    background-color: $color-grey;
    td.sorting_1 {
      background-color: adjust-lightness($color-grey, 5);
    }
  }
  tr.even {
    td.sorting_1 {
      background-color: adjust-lightness($color-grey, 8);
    }
  }
  td {
    &.name {
      width: 240px;
    }
    &.ceuvideo {
      max-width: 200px;
      overflow: hidden;
    }
    &.contact {
      text-transform: lowercase;
    }
  }
}

#example_filter {
  width: auto;
  float: none;
  text-align: left;
  padding: 1em;
  background-color: $color-grey;
  width: 180px;
  margin: $h1-font-size auto;
}
